{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="fond1">
        <div class="custom-container text-center">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" style="max-width: 50%;" src="{{ asset('images/avatar.png') }}" alt="">
                </div>
                <div class="col" style="text-align: left;">
                    <br>
                    <br>
                    <br>
                    <h3 class="custom-h3">Trombinoscope</h3>
                    <h1 class="custom-h1">H3 HITEMA</h1>
                    <br>
                    <p class="wtext">Bienvenue sur le Trombinoscope !
                    </p>
                    <br>
                    {#}
                    <button type="button" class="btn btn-custom btn-lg" onclick="copyToClipboard(this)"><i
                                class="bi bi-play-fill"></i> Jouer
                    </button>
                    <span class="space"></span>
                    <span class="custom-button">play.zenavia.net</span>#}
                </div>
            </div>
        </div>
    </div>

<div class="fond2">
        <div class="container text-center">
        <h1>User List</h1>
            <div class="row">
                {% for user in users %}
                    <div class="col-md-4 mb-4 mt-4">
                        <div class="card h-100">
                            <!-- User details go here, customize as needed -->
                            <img src="{{ asset('uploads/photos/' ~ user.photo) }}" class="card-img-top img-fluid-4 mr-4" alt="{{ user.Prenom }} {{ user.Nom }}">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ user.Prenom }} {{ user.Nom }}</h5>
                                <p class="card-text">{{ user.Poste }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
